# ==========================================================
# BB-BANK: CONFIGURAÇÃO DE AMBIENTE (EXEMPLO)
# Instruções: Copie este arquivo como '.env' e ajuste os valores.
# ==========================================================

# --- INFRAESTRUTURA (URLs de Conexão) ---
KC_URL=http://localhost:8180
KAFKA_URL=localhost:9092
DB_HOST=localhost

# --- CREDENCIAIS DE BANCO DE DADOS ---
# Use credenciais diferentes em produção!
DB_USER=admin
DB_PASS=<SUA_SENHA_AQUI>

# --- KEYCLOAK ADMIN (Provisionamento de Usuários) ---
KC_ADMIN_USER=admin
KC_ADMIN_PASS=<SENHA_KEYCLOAK_AQUI>

# --- COMUNICAÇÃO INTERNA (Service-to-Service) ---
# Endereço do serviço de transferência para o REST Client do Cadastro
URL_TRANSF=http://localhost:8083

# --- GERENCIADOR DE SEGREDOS (VAULT) ---
# O token do cofre de segredos se rodando Vault em mogo dev
VAULT_TOKEN=meu-root-token